$accentColor: rgb(165, 61, 255);
$darkAccentColor: rgb(132, 49, 204);
$lightAccentColor: rgba(237, 216, 255, 0.5);
$textColor: rgb(19, 34, 56); 
$desktopPreviewHeight: 600px;
$laptopPreviewHeight: 500px;
$sectionPaddings: 100px 0;
$itemShadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);